exportPattern("^[^\\.]")
importFrom(stats,aggregate)
importFrom(stats,alias)
#importFrom(reshape,cast)
import(utils)
importFrom(igraph,as.igraph,plot.igraph,
get.graph.attribute,set.graph.attribute,
add.vertices,V,add.edges,graph.empty)
import(metrumrg)
import(methods)
S3method(as.audited,data.frame)
S3method(as.audited,keyed)
S3method(as.audited,audited)
S3method(as.audited,nm)
S3method(as.xlsx,audited)
S3method(as.xlsx,artifact)
S3method(as.nm,audited)
S3method('!',audited)
S3method('^',audited)
S3method('|',audited)
S3method(Ops,audited)
S3method('[',audited)
S3method(as.keyed,audited)
S3method(combinations,audited)
S3method(digest,audited)
S3method(as.digest,audited)
S3method(head,audited)
S3method(tail,audited)
S3method(unique,audited)
S3method(subset,audited)
S3method(audit,audited)
S3method(plot,audited)
S3method(merge,audited)
S3method('audit<-',audited)
S3method(as.igraph,audit)
S3method(format,state)
S3method(auditAttrs,audited)
S3method(auditAttrs,audit)
S3method(auditAttrs,audit)
S3method(auditAttrs,default)
S3method(maxchar,audit)
S3method(modulation,default)
S3method(alias,audited)

